

body {
    background-color: blanchedalmond;
}

h2, h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 30px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 800px;
    margin: 100px auto;
}

.chap--three {
    max-width: 600px;
    margin: 20px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading__title {
    font-size: 26px;
    font-weight: bold;
    padding: 30px 0;
}

.heading__logo {
    max-width: 100px;
    
}

.heading__chap--three {
    font-size: 26px;
    font-weight: bold;
    padding: 30px 0;
}


/* Тело страницы */

.body__sheet p{
    text-align: justify;
}

p span {
    color: rgb(210, 0, 179);
}

code {
    font-family: monospace;
}